.ipynb_checkpoints/G1T1CleaningOCRErrors-checkpoint.ipynb
Sources/GEG/.ipynb_checkpoints/2023-02-02_GEGErrorStats-checkpoint.csv
.ipynb_checkpoints/README-checkpoint.md
Sources/GEG/.ipynb_checkpoints/1873_GEG_SB-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1873_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/2023-02-02_GEGNomCleanErrorStats-checkpoint.csv
Sources/GEG/.ipynb_checkpoints/2023-02-09_GEGSpecCleanErrorStats-checkpoint.csv
Sources/GEG/.ipynb_checkpoints/2023-02-13_OverallGEGErrorStats-checkpoint.csv
Sources/GGuA/.ipynb_checkpoints/2023-02-01_GGuAErrorStats-checkpoint.csv
Sources/GGuA/.ipynb_checkpoints/2023-02-02_GGuANomCleanErrorStats-checkpoint.csv
Sources/GGuA/.ipynb_checkpoints/2023-02-09_GGuASpecCleanErrorStats-checkpoint.csv
Sources/GGuA/.ipynb_checkpoints/2023-02-13_OverallGGuAErrorStats-checkpoint.csv
Sources/NVR/.ipynb_checkpoints/2023-02-13_OverallNVRErrorStats-checkpoint.csv
Sources/GGuA/.ipynb_checkpoints/1906_GGuA_New-checkpoint.txt
Sources/GGuA/.ipynb_checkpoints/1913_GGuA_New-checkpoint.txt
Sources/GGuA/.ipynb_checkpoints/1906_GGuA_SB-checkpoint.txt
Sources/GGuA/.ipynb_checkpoints/1913_GGuA_SB-checkpoint.txt
Sources/GGuA/.ipynb_checkpoints/1914_GGuA_New-checkpoint.txt
Sources/GGuA/.ipynb_checkpoints/1914_GGuA_SB-checkpoint.txt
Sources/NVR/.ipynb_checkpoints/1884_NVR_New-checkpoint.txt
Sources/NVR/.ipynb_checkpoints/1884_NVR_Cor_27-checkpoint.txt
.ipynb_checkpoints/G1T2ExtractMembership-checkpoint.ipynb
.ipynb_checkpoints/G1T3HomogeniseData-checkpoint.ipynb
Output/GEG/.ipynb_checkpoints/1873_GEG_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1873_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1873_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1874_GEG_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1874_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1874_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1875_GEG_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1875_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1875_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1876_GEG_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1876_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1876_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1877_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1877_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1878_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1878_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1879_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1879_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1880_GEG_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1880_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1880_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1881_GEG_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1881_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1881_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1882_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1882_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1883_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1883_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1884_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1884_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1885_GEG_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1885_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1885_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1886_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1886_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1887_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1887_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1888_GEG_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1888_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1888_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1889_GEG_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1889_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1889_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1890_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1890_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1891_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1891_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1892_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1892_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1893_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1893_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1894_GEG_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1894_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1894_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1895_GEG_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1895_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1895_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1896_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1896_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1897_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1897_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1898_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1898_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1899_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1899_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1900_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1900_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1901_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1901_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1902_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1902_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1903_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1903_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1904_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1904_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1905_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1905_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1906_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1906_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1907_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1907_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1908_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1908_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1909_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1909_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1910_GEG_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1910_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1910_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1911_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1911_GEG_Members_Raw-checkpoint.csv
Output/GEG/.ipynb_checkpoints/1912-1922_GEG_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1921_GEG_Members_Ano-checkpoint.txt
Output/GEG/.ipynb_checkpoints/1921_GEG_Members_Raw-checkpoint.csv
Output/GGuA/.ipynb_checkpoints/1873_GGuA_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1873_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1873_GGuA_Members_Raw-checkpoint.csv
Output/GGuA/.ipynb_checkpoints/1874_GGuA_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1874_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1875_GGuA_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1875_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1875_GGuA_Members_Raw-checkpoint.csv
Output/GGuA/.ipynb_checkpoints/1877_GGuA_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1877-1881_GGuA_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1878_GGuA_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1880_GGuA_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1881_GGuA_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1882_GGuA_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1882-1883_GGuA_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1883_GGuA_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1883_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1883_GGuA_Members_Raw-checkpoint.csv
Output/GGuA/.ipynb_checkpoints/1884_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1885_GGuA_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1885_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1886_GGuA_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1886_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1887_GGuA_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1887_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1888_GGuA_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1888_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1889_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1890_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1891_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1892_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1893_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1894_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1895_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1896_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1897_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1898_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1899_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1900_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1901_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1902_GGuA_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1902_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1903_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1904_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1905_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1906_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1907_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1908_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1908_GGuA_Members_Raw-checkpoint.csv
Output/GGuA/.ipynb_checkpoints/1909_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1909_GGuA_Members_Raw-checkpoint.csv
Output/GGuA/.ipynb_checkpoints/1910_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1910_GGuA_Members_Raw-checkpoint.csv
Output/GGuA/.ipynb_checkpoints/1911_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1911_GGuA_Members_Raw-checkpoint.csv
Output/GGuA/.ipynb_checkpoints/1912_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1912_GGuA_Members_Raw-checkpoint.csv
Output/GGuA/.ipynb_checkpoints/1913_GGuA_Members_Ano-checkpoint.txt
Output/GGuA/.ipynb_checkpoints/1913_GGuA_Members_Raw-checkpoint.csv
Output/GGuA/.ipynb_checkpoints/1914_GGuA_Ano-checkpoint.txt
Output/NVR/.ipynb_checkpoints/1881_NVR_Ano-checkpoint.txt
Output/NVR/.ipynb_checkpoints/1882_NVR_Ano-checkpoint.txt
Output/NVR/.ipynb_checkpoints/1883_NVR_Ano-checkpoint.txt
Output/NVR/.ipynb_checkpoints/1884_NVR_Ano-checkpoint.txt
Output/NVR/.ipynb_checkpoints/1893_NVR_Ano-checkpoint.txt
Output/NVR/.ipynb_checkpoints/1894_NVR_Ano-checkpoint.txt
Output/NVR/.ipynb_checkpoints/1899_NVR_Ano-checkpoint.txt
Output/NVR/1875/.ipynb_checkpoints/1875_V0_NVR_Ano-checkpoint.txt
Output/NVR/1875/.ipynb_checkpoints/1875_V1_NVR_Ano-checkpoint.txt
Output/NVR/1875/.ipynb_checkpoints/1875_V10_NVR_Ano-checkpoint.txt
Output/NVR/1875/.ipynb_checkpoints/1875_V11_NVR_Ano-checkpoint.txt
Output/NVR/1875/.ipynb_checkpoints/1875_V2_NVR_Ano-checkpoint.txt
Output/NVR/1875/.ipynb_checkpoints/1875_V3_NVR_Ano-checkpoint.txt
Output/NVR/1875/.ipynb_checkpoints/1875_V4_NVR_Ano-checkpoint.txt
Output/NVR/1875/.ipynb_checkpoints/1875_V5_NVR_Ano-checkpoint.txt
Output/NVR/1875/.ipynb_checkpoints/1875_V6_NVR_Ano-checkpoint.txt
Output/NVR/1875/.ipynb_checkpoints/1875_V7_NVR_Ano-checkpoint.txt
Output/NVR/1875/.ipynb_checkpoints/1875_V8_NVR_Ano-checkpoint.txt
Output/NVR/1875/.ipynb_checkpoints/1875_V9_NVR_Ano-checkpoint.txt
Output/NVR/1877/.ipynb_checkpoints/1877_V0_NVR_Ano-checkpoint.txt
Output/NVR/1877/.ipynb_checkpoints/1877_V1_NVR_Ano-checkpoint.txt
Output/NVR/1877/.ipynb_checkpoints/1877_V10_NVR_Ano-checkpoint.txt
Output/NVR/1877/.ipynb_checkpoints/1877_V11_NVR_Ano-checkpoint.txt
Output/NVR/1877/.ipynb_checkpoints/1877_V12_NVR_Ano-checkpoint.txt
Output/NVR/1877/.ipynb_checkpoints/1877_V2_NVR_Ano-checkpoint.txt
Output/NVR/1877/.ipynb_checkpoints/1877_V3_NVR_Ano-checkpoint.txt
Output/NVR/1877/.ipynb_checkpoints/1877_V4_NVR_Ano-checkpoint.txt
Output/NVR/1877/.ipynb_checkpoints/1877_V5_NVR_Ano-checkpoint.txt
Output/NVR/1877/.ipynb_checkpoints/1877_V6_NVR_Ano-checkpoint.txt
Output/NVR/1877/.ipynb_checkpoints/1877_V7_NVR_Ano-checkpoint.txt
Output/NVR/1877/.ipynb_checkpoints/1877_V8_NVR_Ano-checkpoint.txt
Output/NVR/1877/.ipynb_checkpoints/1877_V9_NVR_Ano-checkpoint.txt
Output/NVR/1880/.ipynb_checkpoints/1880_V0_NVR_Ano-checkpoint.txt
Output/NVR/1880/.ipynb_checkpoints/1880_V12_NVR_Ano-checkpoint.txt
Output/NVR/.ipynb_checkpoints/1895_NVR_Ano-checkpoint.txt
Shapefile_NaturalEarth110/ne_110m_admin_0_countries.cpg
Shapefile_NaturalEarth110/ne_110m_admin_0_countries.dbf
Shapefile_NaturalEarth110/ne_110m_admin_0_countries.prj
Shapefile_NaturalEarth110/ne_110m_admin_0_countries.README.html
Shapefile_NaturalEarth110/ne_110m_admin_0_countries.shp
Shapefile_NaturalEarth110/ne_110m_admin_0_countries.shx
Shapefile_NaturalEarth110/ne_110m_admin_0_countries.VERSION.txt
Sources/GEG/.ipynb_checkpoints/1874_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1875_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1876_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1877_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1878_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1879_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1880_GEG_New-checkpoint.txt
Sources/NVR/.ipynb_checkpoints/OldOverviewNVR-checkpoint.txt
Sources/NVR/.ipynb_checkpoints/NVROldDirectory-checkpoint.txt
Sources/NVR/.ipynb_checkpoints/NVRDirectory-checkpoint.txt
Sources/NVR/.ipynb_checkpoints/2023-08-31_NVRSpecCleanErrorStats-checkpoint.csv
Sources/NVR/.ipynb_checkpoints/2023-08-31_NVRNomCleanErrorStats-checkpoint.csv
Sources/NVR/.ipynb_checkpoints/2023-07-20_NVRErrorStats-checkpoint.csv
Sources/NVR/.ipynb_checkpoints/2023-02-01_NVRErrorStats-checkpoint.csv
Sources/NVR/.ipynb_checkpoints/1924_NVR_New-checkpoint.txt
Sources/NVR/.ipynb_checkpoints/1915_NVR_New-checkpoint.txt
Sources/NVR/.ipynb_checkpoints/1902_NVR_New-checkpoint.txt
Sources/NVR/.ipynb_checkpoints/1899_NVR_New-checkpoint.txt
Sources/NVR/.ipynb_checkpoints/1898_NVR_New-checkpoint.txt
Sources/NVR/.ipynb_checkpoints/1898_NVR_Cor_41-checkpoint.txt
Sources/NVR/.ipynb_checkpoints/1897_NVR_New-checkpoint.txt
Sources/NVR/.ipynb_checkpoints/1897_NVR_Cor_40-checkpoint.txt
Sources/GGuA/.ipynb_checkpoints/OverviewGGuA-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1881_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1882_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1883_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1884_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1885_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1886_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1887_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1888_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1889_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1890_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1891_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1892_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1893_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1894_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1895_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1896_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1897_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1898_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1899_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1900_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1901_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1902_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1903_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1904_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1905_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1906_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1907_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1908_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1909_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1910_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1911_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/1912-1922_GEG_New-checkpoint.txt
Sources/GEG/.ipynb_checkpoints/OverviewGEG-checkpoint.txt
Sources/GGuA/.ipynb_checkpoints/1873_GGuA_New-checkpoint.txt
Sources/GGuA/.ipynb_checkpoints/1877-1881_GGuA_New-checkpoint.txt
Sources/GGuA/.ipynb_checkpoints/1876_GGuA_New-checkpoint.txt
Sources/GGuA/.ipynb_checkpoints/1882-1883_GGuA_New-checkpoint.txt
Sources/GGuA/.ipynb_checkpoints/1884_GGuA_New-checkpoint.txt
Sources/GGuA/.ipynb_checkpoints/1885_GGuA_New-checkpoint.txt
Sources/GGuA/.ipynb_checkpoints/1886_GGuA_New-checkpoint.txt
Sources/GGuA/.ipynb_checkpoints/1887_GGuA_New-checkpoint.txt
Sources/GGuA/.ipynb_checkpoints/1888_GGuA_New-checkpoint.txt
Sources/GGuA/.ipynb_checkpoints/1890_GGuA_New-checkpoint.txt
Sources/GGuA/.ipynb_checkpoints/1889_GGuA_New-checkpoint.txt
Sources/GGuA/.ipynb_checkpoints/1893_GGuA_New-checkpoint.txt
Sources/GGuA/.ipynb_checkpoints/1896_GGuA_New-checkpoint.txt
Sources/GGuA/.ipynb_checkpoints/1900_GGuA_New-checkpoint.txt
Sources/GGuA/.ipynb_checkpoints/1901_GGuA_New-checkpoint.txt
Sources/GGuA/.ipynb_checkpoints/1902_GGuA_New-checkpoint.txt
Sources/GGuA/.ipynb_checkpoints/1903_GGuA_New-checkpoint.txt
Sources/GGuA/.ipynb_checkpoints/1907_GGuA_New-checkpoint.txt
Sources/GGuA/.ipynb_checkpoints/1908_GGuA_New-checkpoint.txt
Sources/GGuA/.ipynb_checkpoints/1909_GGuA_New-checkpoint.txt
Sources/GGuA/.ipynb_checkpoints/1911_GGuA_New-checkpoint.txt
Sources/NVR/.ipynb_checkpoints/1870_NVR_New-checkpoint.txt
Sources/NVR/.ipynb_checkpoints/1872_NVR_New-checkpoint.txt
Sources/NVR/.ipynb_checkpoints/1881_NVR_New-checkpoint.txt
Sources/NVR/.ipynb_checkpoints/1882_NVR_New-checkpoint.txt
Sources/NVR/.ipynb_checkpoints/1883_NVR_New-checkpoint.txt
Sources/NVR/.ipynb_checkpoints/1885_NVR_New-checkpoint.txt
Sources/NVR/.ipynb_checkpoints/1886_NVR_New-checkpoint.txt
Sources/NVR/.ipynb_checkpoints/1888_NVR_New-checkpoint.txt
Sources/NVR/.ipynb_checkpoints/1893_NVR_New-checkpoint.txt
Sources/NVR/.ipynb_checkpoints/1894_NVR_New-checkpoint.txt
Sources/NVR/.ipynb_checkpoints/1895_NVR_New-checkpoint.txt
.ipynb_checkpoints/G1T1OverallStatisticAnalysis-checkpoint.ipynb
